<template>
    <ul class="dropdown-menu" role="menu">
        <li>
            <wish v-for="wish in wishes" :product="wish"></wish>
        </li>
    </ul>


    <!--<div class="container">-->
        <!--<div class="products">-->
            <!--<div class="clearfix">-->
                <!--<product v-for="product in products" :product="product"></product>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="shopping-cart">-->
            <!--<shopping-cart></shopping-cart>-->
        <!--</div>-->
    <!--</div>-->
</template>