
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

/* ----- Generally -----*/
img {
  max-width: 100%; }

/* ----- Show Product LIST -----*/
#products{
  display: table;
  table-layout: fixed;
}

.item{
  display:table-cell;
  vertical-align:middle;
}
.vcenter{
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.price-list{
  font-size: 40px;
  margin-bottom: 8px;
  margin-top: 0;
  color: #EC1B35;
  text-align: center;
}

h4 a:hover{
  text-decoration: none;
}

#filter{
  display: flex;
}

.action{
  display: flex;
  justify-content: space-around;
}

/* ----- Show Product-View -----*/
.product-detail {
  margin-top: 50px;
  background: #eee;
  line-height: 1.5em; }

.table > tbody > tr > td{
  vertical-align: inherit;
}

.details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.price {
  margin: 0 0 10px;
  font-size: 3.5em;
  font-weight: 900;
  line-height: 85px;
  color: #EC1B35;
  font-weight: bold;
}

.preview {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.preview-pic {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }

.preview-thumbnail.nav-tabs {
  border: none;
  margin-top: 15px; }
.preview-thumbnail.nav-tabs li {
  width: 18%;
  margin-right: 2.5%; }
.preview-thumbnail.nav-tabs li img {
  max-width: 100%;
  display: block; }
.preview-thumbnail.nav-tabs li a {
  padding: 0;
  margin: 0; }
.preview-thumbnail.nav-tabs li:last-of-type {
  margin-right: 0; }

.tab-content {
  overflow: hidden; }
.tab-content img {
  width: 100%;
  -webkit-animation-name: opacity;
  animation-name: opacity;
  -webkit-animation-duration: .3s;
  animation-duration: .3s; }

.product-title, .product-description, .price {
  margin-bottom: 15px; }

.product-title {
  margin-top: 0; }


/* ----- Wish list view -----*/
.wish-button{
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 996px) {
  /* ----- Show Product-View -----*/
  .preview {
    margin-bottom: 20px; }
  .price {
    font-size: 2.5em;
  }
}

@media screen and (min-width: 997px) {
  /* ----- Show Product-View -----*/
  .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
}



